{% load ehcofilter %}
<!DOCTYPE html>
<html lang="zh">

<head>
    {% load staticfiles %}
    <title>{% settings_value "TITLE" %}</title>
    {% include "basehead.html" %}
</head>

<body>
    <nav class="navbar is-info">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'sspanel:index' %}">
                <img src="{% static 'img/logo/walllink_logo_white.png' %}" alt="WallLink" width="120">
            </a>
            <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenuColorprimary-example" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'sspanel:index' %}">首頁</a>
                <a class="navbar-item" href="{% url 'sspanel:sshelp' %}">使用幫助</a>
                <a class="navbar-item" href="{% url 'sspanel:ssinvite' %}">邀請碼獲取</a>
                {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url 'sspanel:ssclient' %}">客戶端</a>
                <div class="navbar-item has-dropdown is-hoverable is-hidden-mobile">
                    <span class="navbar-item">
                        <a class="button is-info is-inverted" href="{% url 'sspanel:userinfo' %}">
                            <span class="icon">
                                <i class="fa fa-user-circle"></i>
                            </span>
                            <span>{{ user.username }}</span>
                        </a>
                    </span>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'sspanel:userinfo' %}">
                            <span class="icon">
                                <i class="fa fa-users"></i>
                            </span>
                            <span>賬戶訊息</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'sspanel:logout' %}">
                            <span class="icon">
                                <i class="fa fa-sign-out"></i>
                            </span>
                            <span>注銷</span>
                        </a>
                    </div>
                </div>
                <!-- 手机界面菜单-->
                <div class="is-hidden-tablet">
                    <a class="navbar-item is-active">賬戶相關</a>
                    <a class="navbar-item" href="{% url 'sspanel:userinfo' %}">賬戶訊息</a>
                    <a class="navbar-item" href="{% url 'sspanel:announcement' %}">平臺公告</a>
                    <a class="navbar-item" href="{% url 'sspanel:ticket' %}">工單系統</a>
                    <a class="navbar-item is-active">接入相關</a>
                    <a class="navbar-item" href="{% url 'sspanel:nodeinfo' %}">接入點</a>
                    <a class="navbar-item" href="{% url 'sspanel:userinfo_edit' %}">鏈接方式修改</a>
                    <a class="navbar-item" href="{% url 'sspanel:trafficlog' %}">鏈接記錄</a>
                    <a class="navbar-item is-active">購買相關</a>
                    <a class="navbar-item" href="{% url 'sspanel:donate' %}">賬戶充值</a>
                    <a class="navbar-item" href="{% url 'sspanel:chargecenter' %}">充值碼使用</a>
                    <a class="navbar-item" href="{% url 'sspanel:shop' %}">網路資源包訂購</a>
                    <a class="navbar-item" href="{% url 'sspanel:purchaselog' %}">訂購記錄</a>
                    <a class="navbar-item is-active">邀請相關</a>
                    <a class="navbar-item" href="{% url 'sspanel:affiliate' %}">邀請碼管理</a>
                    <a class="navbar-item" href="{% url 'sspanel:rebate' %}">返利記錄</a>
                    {% if perms.sspanel %}
                    <a class="navbar-item is-active">管理面板</a>
                    <a class="navbar-item" href="/admin">数据后台</a>
                    <a class="navbar-item" href="{% url 'sspanel:backend_index' %}">网站后台</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <br/>
    <div class="container is-fluid">
        <div class="columns">
          	{% if user.is_authenticated %}
            <div class="column is-2 is-hidden-mobile">
                <div class="box">
                    <aside class="menu">
                        <p class="menu-label">
                            賬戶相關
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a class="" href="{% url 'sspanel:userinfo' %}">賬戶訊息</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:announcement' %}">平臺公告</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:ticket' %}">工單系統</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            接入相關
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:nodeinfo' %}">接入點</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:userinfo_edit' %}">鏈接方式修改</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:trafficlog' %}">鏈接記錄</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            購買相關
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:donate' %}">賬戶充值</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:chargecenter' %}">充值碼使用</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:shop' %}">網路資源包訂購</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:purchaselog' %}">訂購記錄</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            邀請相關
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:affiliate' %}">邀請碼管理</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:rebate' %}">返利記錄</a>
                            </li>
                        </ul>
                        {% if perms.sspanel %}
                        <p class="menu-label">
                            管理面板
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="/admin">数据后台</a>
                            </li>
                        </ul>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:backend_index' %}">网站后台</a>
                            </li>
                        </ul>
                        {% endif %} 
                    </aside>
                </div>
            </div>
          	{% else %}
			{% endif %}
          	{% if user.is_authenticated %}
            <div class="column is-10">

          	{% else %}
          	<div class="column is-half is-offset-one-quarter">
        
          	{% endif %}
            {% block main %} {% endblock main%}

            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <p class="copyright">&copy; 2018 · WallLink ·
                        <a href="http://smoke.walllink.net/cgi-bin/smokeping.cgi">Smokeping監測 </a>·
                      	<a href="https://t.me/wallink">Telegram資訊頻道 </a>
                    </p>
                </p>
            </div>
        </div>
    </footer>
</body>
<!--整站消息提醒功能 -->
{% if registerinfo %}
<script>
    swal("{{ registerinfo.title }}", '{{ registerinfo.subtitle }}', '{{ registerinfo.status }}');
</script> {% endif %}
</html>