{% extends 'base.html' %} {% block main %}

<div class="column is-12">
    <section class="hero is-warning is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    邀請碼管理
                </h1>
                <h2 class="subtitle">
                    請謹慎發放邀請碼，否則將會置您的賬戶于危險中！
                    <p>通過您邀請的客戶，在其消費后您可以獲得消費金額
                        <strong>{{ invitePercent }}%</strong>的返利。
                    </p>
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box ">
        <div class="field has-addons">
            <a class="button is-outlined is-info" id="id-gen-invitecode">生成{{ inviteNumn }}個邀請碼 </a>
        </div>
    </div>
    <div class="box">
        <div class="content">
            <p class="subtitle">邀請碼列表</p>
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>生成時間</th>
                        <th>邀請碼</th>
                        <th>是否使用</th>
                    </tr>
                </thead>
                {% for code in invitecodes %}
                <tr>
                    <td>{{ code.time_created | date:"m月d日" }}</td>
                    <td>{{ code.code }}</td>
                    <td>{{ code.isused }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
    // 端口重置Ajax部分
    var InviteButton = $("#id-gen-invitecode")
    var gencode = function () {
        url = "{% url 'api:geninvitecode' %}"
        $.getJSON(url, function (results) {
            swal(results.title, results.subtitle, results.status)
        })
    }
    InviteButton.click(gencode)
</script> {% endblock main %}