{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-primary is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    充值碼使用
                </h1>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <nav class="level box ">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">用戶名:</p>
                <p class="title">{{ user }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">賬戶餘額：</p>
                <p class="title">
                    <code>{{ user.balance }}元</code>
                </p>
            </div>
        </div>
    </nav>
    <div class="box ">
        <form class="form" action="{% url 'sspanel:charge' %}" method="post">
            {% csrf_token %}
            <input type="text" name="chargecode" class="input " required="" id="chargecode" placeholder="請輸入充值碼">
            <hr/>
            <div class="is-grouped">
                <button type="submit" class="button is-danger is-outlined ">GO</button>
            </div>
        </form>
    </div>
    <div class="box">
        <div class="content">
            <p class="subtitle">充值記錄：</p>
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>充值時間:</th>
                        <th>充值金額:</th>
                        <th>是否使用:</th>
                    </tr>
                </thead>
                {% for code in codelist %}
                <tr>
                    <td>{{ code.time|date:"m月d日" }}</td>
                    <td>{{ code.number }}</td>
                    <td>{{ code.isused }}</td>
                </tr>
                {% empty %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock main %}