{% extends 'base.html' %} {% block main %} {% load static %} {% load ehcofilter %}
<div class="column is-12">
    <section class="hero is-primary is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    賬戶充值
                </h1>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
  	<nav class="level box ">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">用戶名:</p>
                <p class="title">{{ user }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">賬戶餘額：</p>
                <p class="title">
                    <code>{{ user.balance }}元</code>
                </p>
            </div>
        </div>
    </nav>
    <div class="tile is-ancestor">
        <div class="tile is-12 is-vertical is-parent">
            {% if alipay == True %}
            <div class="tile box is-child">
                <p class="subtitle">請輸入充值金額
                </p>
                <p>点击GO会弹出<strong>支付寶付款二維碼</strong>，請按指示操作
                <hr>
                <div class="content">
                    <div class="field has-addons">
                        <div class="control">
                            <input id="id-input-payinput" class="input" type="number" step="1" placeholder="金額必須為整數且大與1" required>
                        </div>
                        <div class="control">
                            <button class="button is-outlined is-info" id="id-button-payrequest">GO</button>
                        </div>
                    </div>
                    <div id="id-qrcode-box" class="is-hidden">
                        <hr>
                        <figure class="image">
                            <img id="id-img-qrcode" src="">
                        </figure>
                        <p>
                            <strong>付款完成后請點擊確認按鈕</strong>
                        </p>
                        <div class="control">
                            <button id="id-button-query" class="button is-outlined is-danger" href="#">確認</button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
<script>
    // 支付请求 部分
    var requestButton = $("#id-button-payrequest")
    var payinput = $("#id-input-payinput")
    var codeBox = $("#id-qrcode-box")
    var payrequest = function () {
        url = "{% url 'api:pay_request' %}"
        paynum = payinput.val()
        if (paynum >= 1 && paynum % 1 == 0) {
            data = {
                num: paynum,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            $.post(url, data, function (results) {
                qrcode_url = "{% url 'sspanel:facepay_qrcode' %}"
                codeBox.attr('class', '')
                // 获取当前域名
                var host = window.location.host
                var protocol = window.location.protocol
                // 追加二维码图片
                $("#id-img-qrcode").attr("src", `${protocol}//${host}/sspanel/facepay/qrcode/`)
                info = results.info
                swal(info.title, info.subtitle, info.status)
                requestButton.attr("disabled", "disabled")
            })
        } else {
            swal('錯誤！', '金額必須為整數且大與1', 'error')
        }
    }
    requestButton.click(payrequest)
    // 支付查询部分
    queryButton = $("#id-button-query")
    var payquery = function () {
        codeBox.empty()
        codeBox.append('獲取支付結果中，請稍後....')
        url = "{% url 'api:pay_query' %}"
        $.getJSON(url, function (results) {
            info = results.info
            swal(info.title, info.subtitle, info.status)
        })
    }
    queryButton.click(payquery)
</script> {% endblock main %}