{% extends 'base.html' %} 
{% block main %}
<div class="columns">

</div>
<br/> 
{% if user.is_authenticated %}
<div class="box">
    <p class="title">{{ user.username }}，哈嘍！</p>
    <p class="subtitle">點擊進入用戶後臺</p>
    <button class="button"><a href="{% url 'sspanel:userinfo' %}">GO</a></button>
    
</div>
{% else %}
<div class="column box ">
    <h1 class="title">尚無賬戶？</h1>
    <h2 class="subtitle">本服務采用邀請注冊制，請確保你已經獲取邀請碼。</h2>
    <a class="button is-primary is-outlined" href="{% url 'sspanel:register' %}">立即注冊</a>
</div>
<br/>
<div class="column box ">
    <h1 class="title">已有賬戶？</h1>
    <h2 class="subtitle">點擊進入登錄界面</h2>
    <a class="button is-danger is-outlined" href="{% url 'sspanel:login' %}">GO</a>
</div>
<br/> {% endif %} {% endblock main %}