{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    賬戶登錄
                </h1>
            </div>
        </div>
    </section>
</div>
<div class="column is-half is-offset-one-quarter">
    {% if user.is_authenticated %}
    <div class="box">
        <p class="title">{{ user.username }}，哈嘍！</p>
        <p class="subtitle">點擊進入用戶後臺 </p>
        <button class="button">
            <a href="{% url 'sspanel:userinfo' %}">GO</a>
        </button>
    </div>
    {% else %}
    <div class="box">
        <h3 class="title">登錄:</h3>
        <form class="form" action="{% url 'sspanel:login' %}" method="post">
            {% csrf_token %} {{ form.non_field_errors }} {% for field in form %} {{ field.label_tag }} {{ field }} {{ field.errors }}
            {% if field.help_text %}
            <p class="help is-danger">{{ field.help_text|safe }}</p>
            {% endif %} {% endfor %}
            <hr>
            <div class="field is-grouped">
                <p class="control">
                    <button type="submit" class="button is-primary is-outlined">GO</button>
                </p>
                {% if USE_SMTP is True %}
                <p class="control">
                    <a class="button is-info is-outlined " href="{% url 'password_reset' %}">忘記密碼？</a>
                </p>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endif %} {% endblock main %}