{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-primary is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    網路資源管理面板
                </h1>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="tile is-ancestor">

        <div class="tile is-5 is-vertical is-parent">
            <div class="tile box is-child">
                <p class="title">
                    <span class="icon is-large">
                        <i class="fa fa-home"></i>
                    </span>{{ user.username }}，歡迎回來。</p>
                <button class="button is-rounded">
                    <a href="{% url 'sspanel:logout' %}">注銷</a>
                </button>
                <button class="button is-rounded">
                    <a href="{% url 'password_change' %}">修改賬戶密碼</a>
                </button>
                <button class="button is-rounded">
                    <a>
                        <span id="id-change-port">重置鏈接接口</span>
                    </a>
                </button>
                <hr>
                <div class="field is-grouped">
                    <div class="control has-icons-left">
                        <div class="select is-rounded is-fullwidth">
                            <select name="selects">
                                <option value="" disabled="" selected="">更換面板風格</option>
                                <option disabled="">───</option>
                                {% for theme in  themes %}
                                <option value="{{ theme.0 }}">{{ theme.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fa fa-eercast"></i>
                        </div>
                    </div>
                    <p class="control">
                        <button class="button is-outlined is-info is-rounded" id="id-button-theme">更新</button>
                    </p>
                </div>
                <hr>
            </div>
            <div class="tile box is-child">
                <article class="message">
                    <div class="message-header">
                        <p>最新平臺公告</p>
                    </div>
                    <div class="message-body">
                        {% if anno %} {{ anno.body | safe }} {% else %}
                        <p>暂无公告</p>
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>

        <div class="tile is-7 is-vertical is-parent">

            <div class="tile box is-child">
                <article class="message is-success">
                    <div class="message-header">
                        <p>接入鏈接資訊</p>
                    </div>
                    <div class="message-body">
                        <li> 接入端口：
                            <code><span id="port">{{ user.ss_user.port }}</span></code>
                        </li>
                        <li> 鏈接密鑰：
                            <code>{{ user.ss_user.password }}</code>
                        </li>
                        <li> 加密方式：
                            <code>{{ user.ss_user.method }}</code>
                        </li>
                        <li> 鏈接協議：
                            <code>{{ user.ss_user.protocol }}</code>
                        </li>
                        <li> 流量混淆：
                            <code>{{ user.ss_user.obfs }}</code>
                        </li>
                        <br>
                        <div class="buttons">
                            <a class="button is-link is-rounded" href="{{ sub_code }}">獲取導入鏈接</a>
                            <a class="button is-link is-rounded" href="{% url 'ssserver:node_config' %}" download>配置文件下載</a>
                            <span class="button is-link modal-button is-rounded" data-target="modal-sub">接入點訂閲</span>
                        </div>
                    </div>
                </article>
                <div class="modal nodeinfo" id="modal-sub">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">SSR訂閲鏈接：</p>
                            <button class="delete"></button>
                        </header>
                        <section class="modal-card-body">
                            <p class="subtitle">訂閲鏈接</p>
                            <strong>點擊複製訂閲鏈接</strong>
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" id="id-sub-link" value="{{ sub_link }}">
                                </p>
                                <p class="control">
                                    <a class="button is-rounded" id="id-button-clip" data-clipboard-target="#id-sub-link">
                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                    </a>
                                </p>
                            </div>
                            <span class="copied" hidden="true">Copied!</span>
                        </section>
                    </div>
                </div>
                <article class="message is-warning">
                    <div class="message-header">
                        <p>數據傳輸量</p>
                    </div>

                    <div class="message-body">
                      	<div class="columns">
                            <div class="column is-4">
                                <li>使用比率:<code>{{ user.ss_user.get_used_percentage }}%</code> </li>
                            </div>
                            <div class="column">
                                <progress class="progress is-danger" value="{{  user.ss_user.get_used_percentage }}" max="100"></progress>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-4">
                                <li>總計:
                                    <code>{{ user.ss_user.get_transfer }}</code>
                                </li>
                            </div>
                            <div class="column">
                                <progress class="progress is-success" value="100" max="100"></progress>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-4">
                                <li>剩餘:
                                    <code>{{ user.ss_user.get_unused_traffic }}</code>
                                </li>
                            </div>
                            <div class="column">
                                <progress class="progress is-info" value="{{  remain_traffic }}" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="message is-info">
                    <div class="message-header">
                        <p>賬戶資訊</p>
                    </div>
                    <div class="message-body">
                        <li> 賬戶餘額：
                            <code>{{ user.balance }} 元</code>
                        </li>
                        <li> 電子郵箱：
                            <code>{{ user.email }} </code>
                        </li>
                        <li> 接入點權限等級：
                            <code>{{ user.level }} 级 </code>
                        </li>
                        {% if user.ss_user.enable == True %}
                        <li> 賬戶狀態：
                            <code>正常</code>
                        </li>
                        {% else %}
                        <li> 賬戶狀態：
                            <code>停用</code>
                        </li>
                        {% endif %}
                        <li> 當前使用權限到期日：
                            <code>{{ user.get_expire_time }} </code>
                        </li>
                        <li>最後接入點鏈接時間:
                            <code>{{ user.ss_user.get_last_use_time|date:"m月d日G点" }}</code>
                        </li>

                    </div>
                </article>

            </div>
        </div>
    </div>
</div>

<script>
    // 点击复制
    var clip = new Clipboard('#id-button-clip');
    clip.on('success', function (e) {
        $('.copied').show();
        $('.copied').fadeOut(1000);
    });
    // 端口重置Ajax部分
    var ProtButton = $("#id-change-port")
    var changeport = function () {
        url = "{% url 'api:changessport' %}"
        $.getJSON(url, function (results) {
            swal(results.title, results.subtitle, results.status)
            port.textContent = results.subtitle.slice(6, -1)
        })
    }
    ProtButton.click(changeport)
    // 签到AJAX部分
    var CheckButton = $("#id-checkin")
    var Checkin = function () {
        url = "{% url 'sspanel:checkin' %}"
        $.getJSON(url, function (results) {
            swal(results.title, results.subtitle, results.status)
            var box = $("#id-checkin-box")
            box.empty()
            box.append('今天已经签到过了ಠ౪ಠ')
        })
    }
    CheckButton.click(Checkin)
    // 更换主题
    var ThemeButton = $("#id-button-theme")
    var changeTheme = function () {
        var theme = $("select[name=selects]").val();
        if (theme) {
            data = {
                theme: theme,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            url = "{% url 'api:change_theme' %}"
            $.post(url, data, function (results) {
                info = results
                swal(info.title, info.subtitle, info.status)
            })
        } else {
            swal('錯誤！', '您尚未選擇主題', 'error')
        }
    }

    ThemeButton.click(changeTheme)
</script> {% endblock main %}